/*NOAHS SECTION */
:root { 
    /* Text colours*/
    --description: #E2E8F0;

    /*Background colors */
    --black-bg: #1A1A1A;
    --gray-bg: #262626;
    --white-bg: #F1F1F1;
    --blue-bg: #141539;
    --lightblue-bg: #2B2C4C;
    --dark-red-bg: #660000;

    /* Gradient */
    --blue-gradient-bg: linear-gradient(to right, #4772C9, #ffff);
    --ultimate-gradient-bg: linear-gradient(to right, #F09E2B, #7891FF);
    --red-gradient-bg: linear-gradient(to right, #000000, #833434);
    --gradient-txt: transparent;

    /* Product colors*/
    --core-section: #a0db8e;
    --scale-section: #F09E2B;
    --distributed-section: #7891FF;
    --ultimate-section: #FF6262;
    }

    /* General configs */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        scroll-behavior: smooth;
        font-family: system-ui, -apple-system, sans-serif;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin: 0px;
        padding: 15px;
    }

    .container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
    }

    /* Section related */
    section {
        padding-top: 100px;
    }
    #Products {
        background-color: var(--black-bg);
    }

    #Products h1 {
        background: var(--blue-gradient-bg);
        color: var(--gradient-txt);
        background-clip: text;
    }

    #Partners {
        background-color: var(--white-bg);
    }

    #Partners h1 {
        background: var(--red-gradient-bg);
        color: var(--gradient-txt);
        background-clip: text;
    }

   /* Header styles */
.initial-header, .main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(to bottom, #000 90%, rgba(102,0,0,1));
}

.initial-header .container, .main-header .container {
    display: flex;
    /*align-items: center; */
    height: 80px;
    position: relative;
}

/* Ensure both headers use the same centering technique */
.initial-header nav, .main-header nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.initial-header nav a, .main-header nav a {
    color: #fff;
    text-decoration: 1px solid underline transparent;
    padding: 10px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: 1px solid underline red;
    transition: 300ms all;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.btn-primary {
    background-color: #f00;
    color: #fff;
}

.btn-secondary {
    background-color: #fff;
    color: #000;
    position: absolute;
    right: 15px;
    text-decoration: none;
}
}

.btn-secondary:hover {
    background-color: #8e0000;
    color: white;
    transition: 300ms all;
}

.initial-header .logo:hover {
    color:#CCCCCC;
    transition: 300ms all;
}

/* Logo alignment */
.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    margin-left: 20px; /* Optional: spacing from the left edge */
}

    /* Product section: Tabs */
        .tabs {
            display: flex;
            gap: 1rem;
            margin-bottom: 2rem;
            justify-content: center;
        }

        .tab {
            padding: 0.75rem 1.5rem;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease;
        }

        .tab.active {
        color: var(--tab-color);
        border-bottom-color: var(--tab-color);
        }

        .tab[data-tab="core"].active {
        --tab-color: var(--core-section);
        }

        .tab[data-tab="scale"].active {
        --tab-color: var(--scale-section);
        }

        .tab[data-tab="distributed"].active {
        --tab-color: var(--distributed-section);
        }

        .tab[data-tab="ultimate"].active {
        --tab-color: var(--ultimate-section);
        }

        /* Products section: Tab content */

        .tab-content {
            background: var(--gray-bg);
            padding: 2rem;
            border-radius: 8px;
            display: none;
            text-align: center;
        }

        .tab-content.active {
            display: inline-block;
        }

        .description {
            color: #9CA3AF;
            padding: 1rem;
        }

        #includesFeature {
            color: var(--core-section);
        }

        #includesFeatures {
            background: var(--ultimate-gradient-bg);
            color: var(--gradient-txt);
            background-clip: text;
        } 

        .features {
            display: inline-block;
            list-style: none;
        }

        .features li {
            padding: 20px;
            text-align: center;
            color: white;
        }

        .features li::before {
            content: "✓";
            margin-right: 10px;
            color: var(--core-section);
        }

        @media (max-width: 650px) {
        .features {
        grid-template-columns: 1fr; 
            }
        }

        /* Did you know? */
        .statWarning {
            background-color: #333333;
            color: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            margin: 20px;
            padding: 20px;
        }

        .statWarning strong {
            color: var(--ultimate-section);
        }

        /* Pricing */
        .pricing-options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .pricing-option {
            display: inline-flex;
            flex-direction: column;
            text-align: center;
            max-width: 250px;
            margin: 10px;
            padding: 10px;
        }
        .pricing-option h3 {
            font-size: 18px;
            color: white;
            margin-bottom: 0;
        }

        .pricing-option h4 {
            background: var(--blue-gradient-bg);
            color: var(--gradient-txt);
            background-clip: text;
            font-size: 30px;
            margin: 0;
        }

        .pricing-option p {
            font-size: 12px;
            color: #a0a0a0;
            margin-bottom: 15px;
        }

        .disclaimer {
            font-size: 10px;
            color: #707070;
            text-align: center;
            margin-top: 20px;
        }

        .blue-btn {
            border-radius: 15px;
            background-color: transparent;
            display: block;
            width: 100%;
            padding: 8px;
            border: 1px solid gray;
            color: white;
            text-align: center;
            cursor: pointer;
            transition: all 300ms;
        }
        .blue-btn:hover {
            background: var(--blue-gradient-bg);
            color: black;
            border: 1px solid var(--card-bg);


        }

        /* Partner tabs */
        .company-buttons {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }

        .company-button {
            padding: 0.5rem 2rem;
            border: none;
            font-size: 0.9rem;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s, font-weight 0.3s;
        }

        .company-button.white {
            background-color: transparent;
            color: black;
            border: 1px solid #ddd;
        }

        .company-button.red {
            background-color: #000;
            border: 1px solid #000;
            color: white;
            transform: scale(1.05); /* Slightly enlarges the active button */
        }

        .company-button:hover {
            background-color: white;
            color: black;
        }

        /* Partner Tab content*/
        .partner-card {
            background-color: #000;
            color: white;
            padding: 2rem;
            margin-bottom: 2rem;
            display: none;
        }

        .partner-card.active {
            display: flex;
            flex-direction: column;
        }

        @media (max-width: 768px) {
            .partner-card.active {
                border-radius: 0px; 
                margin: 0px 0px;
                display: inline-flex;
                flex-direction: column;
            }
        }

        .partner-content {
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        .partners-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .partners-item {
            margin: 15px;
            padding: 30px;
            border-radius: 10px;
            background-color: var(--dark-red-bg);
        }

        .partner-card h3 {
            margin: 0px;
        }

        .partner-card p {
            font-size: 0.9rem;
            margin-bottom: 1rem;
        }

        /* Statistics */
        .stats {
            display: flex;
            justify-content: space-around;
            margin-bottom: 3rem;
            display: flex;
        }

        .stat-item h3 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }
        
        /* Apply to Network */
        .cta-section {
            text-align: center;
            margin-bottom: 3rem;
            padding: 30px;
            height: 85vh;  
            display: flex;
            justify-content: space-around;  /* Horizontally centers the content */
            align-items: center;  
        }

        .cta-section div {
            flex-direction: column;

        }

        .cta-section h2 {
            margin-bottom: 0.5rem;
        }

        .cta-section p {
            margin-bottom: 1.5rem;
            color: #666;
        }
        
        .apply-button {
            background-color: transparent;
            border: 1px solid gray;
            padding: 0.75rem 2rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: 0.9rem;
            transition: all 300ms;
        }

        .apply-button:hover {
            background-color: #8e0000;
            color: white;
            border: 1px solid #8e0000;
        }

        /* Demo page */
        .demo-container {
            font-family: Arial, sans-serif;
            display: flex;
            height: 100vh;
        }

        .left-panel {
            flex: 1;
            background-color: #660000;
            padding: 40px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .left-panel h1 {
            font-size: 36px;
            margin-bottom: 20px;
            color: white;
        }

        .left-panel p {
            font-size: 18px;
            line-height: 1.6;
            color: white;
        }

        .right-panel {
            flex: 1;
            background-color: #F3F6F4;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
        }

        .right-panel h2 {
            font-size: 30px;
            margin-bottom: 20px;
            color: black;
        }

        .form-container {
            width: 100%;
            max-width: 500px;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .form-container input, .form-container textarea {
            width: 100%;
            padding: 15px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            color: #333;
        }

        .form-container button {
            width: 100%;
            padding: 15px;
            border: 1px solid #660000;
            color: #660000;
            background-color: transparent;
            border-radius: 5px;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

        .form-container button:hover {
            background-color: #660000;
            color: white;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            .demo-container {
                display: flex;
                flex-direction: column;
            }

            .left-panel, .right-panel {
                flex: none;
                width: 100%;
            }

            .form-container {
                padding: 15px;
            }
        }

/* Footer */
footer {
background-color: #000;
padding: 20px;
}

.footerContainer {
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    color: white;
    
}

.footerContainer a {
    text-decoration: 1px solid underline transparent;
    margin: 10px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 300ms text-decoration;
}

.footerContainer a:hover {
    text-decoration: 1px solid underline red;
    background-clip: text;
    transition: 200ms all;
}

.footerItem {
    display: inline-flex;
    flex-direction: column;
    margin: 0 20px;
}

.copyright {
    margin-top: 50px;
    color: white;
    text-align: center;
}

       /* Sidebar Styling */
       .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: darkred;
        color: white;
        padding-top: 20px;
        padding-left: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 10;
        font-size: 1.1em;
    }

    .sidebar h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: #ecf0f1;
    }

    .sidebar a {
        display: block;
        padding: 12px;
        color: #ecf0f1;
        text-decoration: none;
        transition: background-color 0.3s ease;
        border: 1px solid transparent;
        transition: 300ms all;
    }

    .sidebar a:hover {
        border: 1px solid white;
        transition: 300ms all;
    }

    /* Main Content Area */
    main {
        margin-left: 250px;
        padding: 40px;
        max-width: 1200px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .main h2 {
        font-size: 2em;
        color: #2c3e50;
        margin-top: 20px;
    }

    .main p {
        font-size: 1.1em;
        margin-bottom: 20px;
        color: #555;
    }

    ul {
        margin-bottom: 20px;list-style: none;
    }

    li {
        margin-bottom: 10px;
    }

    section h3 {
        font-size: 1.5em;
        color: #8e0000;
        margin-top: 20px;
    }
